Distant_Horizons_server_data/*
saves/*
simplebackups/*
backups/*
crash-reports/*
logs/*
config/blockswap/known_states/*
modernfix/*
screenshots/*
config/spark/*
ct_dumps
map_atlases/*
emi.json
export/*.zip
libraries/*
world/*
mod_data/*
options.txt
banned-ips.json
banned-players.json
eula.txt
ops.json
run.bat
server.properties
usercache.json
whitelist.json
server-icon.png